:root {
    --color-primary: #00A28E;
    --color-secondary: #203340;
    --color-background: #FFF;
    --color-background-alt: #F7F7F7;
}

html {
    font-size: 20px;
}

@font-face {
    font-family: 'MeineSchriftart';
    src: url('../schriftart/Roboto/Roboto-thin.ttf') format('truetype'),
         url('../schriftart/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-family: 'MeineSchriftart', sans-serif;
    box-sizing: border-box;
}

/* === NAVIGATIONSLEISTE === */
.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.header-nav {
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.header-nav img {
    height: 50px;
    width: auto;
    position: absolute;
    left: 1.5rem;
    top: 5px;
}

.header-nav > ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: .9rem;
    right: 1.5rem;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-nav ul a {
    color: var(--color-secondary);
    text-decoration: none;
    position: relative;
    padding: 3px;
}

.header-nav ul a:hover {
    color: var(--color-primary);
}

.header-nav ul a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--color-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
}

.header-nav ul a:hover::after{
    width: 100%;
}

#toggle_button{
    display: none;
}

label[for="toggle_button"]{
    display: none;
}

/* === HEADER === */
.header {
    padding: 100px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.header-text {
    width: 850px;
}

.header #greeting {
    color: var(--color-secondary);
    margin-bottom: .5rem;
    font-size: 5rem;
}

.header p {
    margin-top: 0;
}

.header-pic {
    height: 500px;
    width: 500px;
    max-height: 80vw;
    max-width: 80vw;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-pic img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -30px;
}

.header hr{
    border: none;
    height: 2px;
    background-color: var(--color-primary);
    width: 87%;
    margin: 4rem auto;
}

/* === ÜBERGANG === */
#title {
    position: relative;
    color: var(--color-primary);
    background-color: transparent;
    display: inline-block;
}

#title::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease-in-out;
}

.fade-in::before {
    width: 100%;
}

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;
    animation: typing 5s linear forwards, blink-caret .75s step-end 5s infinite;
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--color-primary); }
}

.fade-in {
    opacity: 1;
}

/* === ABOUT ME === */
#about-me {
    padding: 150px 0 60px;
    background-color: var(--color-background-alt);
}

.content-wrapper {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
}

.about-me-container {
    width: 750px;
    max-width: 90%;
}

#about-me img{
    width: 400px;
    max-width: calc(90% - 30px);
    border: 4px solid var(--color-primary);
}

.about-me-container h2 {
    color: var(--color-secondary);
    font-size: 3rem;
}

.about-me-container p{
    color: var(--color-secondary);
    text-align: justify;
    line-height: 175%;
}

#about-me hr{
    border: none;
    height: 2px;
    background-color: var(--color-primary);
    width: 87%;
    margin: 4rem auto;
}

/* === SKILLS === */
.skills{
    padding: 70px 0;
    background-color: var(--color-background);
}

.skills h2, .skills h3 {
    text-align: center;
    color: var(--color-secondary);
}

.skills h2 {
    font-size: 3rem;
}

.skills h3 {
    font-size: 2rem;
}

.flex-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.skills .card{
    color: var(--color-secondary);
    width: 100%;
    width: 400px;
    max-width: calc(50% - 40px);
    background-color: var(--color-background-alt);
    border-radius: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills .card *{
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.skills .card img{
    height: auto;
    width: 100px;
}

.skills hr{
    border: none;
    height: 2px;
    background-color: var(--color-primary);
    width: 87%;
    margin: 4rem auto;
}

.icon {
    position: relative;
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
    cursor: pointer;
}

.icon img,
.icon .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.icon img {
    opacity: 1;
}

.icon .text {
    opacity: 0;
    font-size: 3rem;
    color: var(--color-secondary);
}

.icon:hover img {
    opacity: 0;
}

.icon:hover .text {
    opacity: 1;
}

/* === PROJECTS === */
#projects {
    padding: 70px 0;
    background: var(--color-background-alt);
    text-align: center;
    position: relative; /* Position für die relative Positionierung der Pagination */
}

#projects hr{
    border: none;
    height: 2px;
    background-color: var(--color-primary);
    width: 87%;
    margin: 4rem auto;
}

#projects h2{
    font-size: 3rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

#projects h3{
    font-size: 2rem;
    text-align: center;
    color: var(--color-secondary);
}

#projects > div{
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center;    /* Zentriert den Inhalt vertikal */
    max-width: 1200px;      /* Maximale Breite der Projektcontainer */
    margin: 0 auto;         /* Zentriert den Projektcontainer selbst */
    position: relative;     /* Position für die relative Positionierung des Swipers */
}

.swiper{
    width: 950px;
}

#projects .card{
    position: relative;
    background: var(--color-background);
    border-radius: 20px;
    height: 400px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#projects .card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: var(--color-background-alt);
    border-radius: 20px 20px 0 0;
}

#projects .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
  
#projects .card .image{
    height: 140px;
    width: 140px;
    border-radius: 20%;
    padding: 3px;
    background: var(--color-background-alt);
    margin-top: 30px;
}
  
#projects .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
    border: 3px solid var(--color-background);
}
  
#projects .card .media-icons{
    position: absolute;
    top: 12px;
    right: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
#projects .card .media-icons i{
    color: var(--color-background-alt);
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}
  
#projects .card .media-icons i:hover{
    opacity: 1;
}
  
#projects .card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: var(--color-secondary);
} 
  
.name-profession .name{
    font-size: 20px;
    font-weight: 600;
}
  
.name-profession .profession{
    font-size:15px;
    font-weight: 500;
}
  
#projects .card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
  
#projects .card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: var(--color-background-alt);
}
  
#projects .card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
  
#projects .card .button button{
    background: var(--color-background-alt);
    outline: none;
    border: none;
    color: var(--color-background);
    padding: 8px 22px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
.button button:hover{
    background: var(--color-background-alt);
}
  
.swiper-pagination{
    position: absolute;
    bottom: 10px;
}
  
.swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: var(--color-primary);
}
  
.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: var(--color-primary);
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: var(--color-background);
}
/* === SOCIAL === */



/*
=== WICHTIGE BREAKPOINTS ===

480px iPhone Querformat
768px iPad Hochformat
1024px iPad Querformat

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

*/

@media (max-width: 1024px) {
    /* === HEADER === */
    .header #greeting {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    /* === NAVIGATIONSLEISTE === */
    .header-nav{
        position: sticky;
        top: 0;
    }
    .header-nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: #F7F7F7;
        padding: 15px;
        border-radius: 0 0 0 25px;
    }
    label[for="toggle_button"]{
        display: block;
        position: absolute;
        top: .45rem;
        right: 1.5rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    #toggle_button:checked ~ ul{
        display: flex;
    }

    /* === HEADER === */
    .header #greeting {
        font-size: 3rem;
    }
    .header-text {
        width: 70%;
    }

    /* === SKILLS === */
    .icon .text {
        font-size: 1.5rem;
    }
}