html {
    font-size: 16px;
}

@font-face {
    font-family: 'MeineSchriftart';
    src: url('^/src/schriftart/Roboto/Roboto-thin.ttf') format('truetype'),
         url('^/src/schriftart/Roboto/Roboto-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'NixieOne';
    src: url('^/src/schriftart/Nixie_One/NixieOne-Regular.ttf') format('truetype');
 }

body {
    margin: 0;
    background-color: #252850;
    color: #56C7F7;
    font-family: 'MeineSchriftart', sans-serif;
    /*background-color: #0E14B2;*/
}

/* color: #56C7F7; */

/* === NAVIGATIONSLEISTE === */

.header-nav > img {
    height: 50px;
    width: auto;    
    position: absolute;
    left: 3rem;
    top: 10px;        
}

.header-nav {
    width: 100%;
    height: 70px;
    background-color: #232648;
    position: relative;
    font-size: 1rem;
}

.header-nav > ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 3rem;
    height: 100%;
}

.header-nav > ul > li {
    display:inline-block;
    height: 100%;
    padding: 0 .2rem 0 .2rem;
}

.header-nav > ul > li > a {
    display: inline-block;
    margin-top: 1.6rem;
}

.header-nav > ul > li > a:link {
    color: #56C7F7;
    text-decoration: none;
}

.header-nav > ul > li > a:hover {
    color: #E5E5E5;
    text-decoration: none;
}

.header-nav > ul > li > a:active {
    color: #56C7F7;
    text-decoration: none;
}

.header-nav > ul > li > a:visited {
    color: #56C7F7;
    text-decoration: none;
}

.header-nav > ul > li > a:visited:hover {
    color: #E5E5E5;
    text-decoration: none;
}

/* === HEADER === */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.container img {
    height: auto;
    max-height: 150px;
    width: auto;
    margin-right: 1rem;
}

.container > div > h1 {
    font-size: 3rem;
    margin: 0;
}

.container > div > h1 > span {
    font-family: "NixieOne", sans-serif;
    color: #e5e5e5;
}

.container > div > p {
    font-size: 1rem;
    color: #E5E5E5;
    margin: 0;
}

/*
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    display: block;
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: 3rem;
}

header > img {
    height: 150px;
    width: auto;
    float: right;
    margin-right: 3rem;
}

header > div > p {
    font-size: 1rem;
    color: #E5E5E5;
    margin-top: .5rem;
}
*/