html {
    font-size: 20px;
}

@font-face {
    font-family: 'MeineSchriftart';
    src: url('../schriftart/Roboto/Roboto-thin.ttf') format('truetype'),
         url('../schriftart/Roboto/Roboto-Regular.ttf') format('truetype');
  }

body {
    margin: 0;
    /*background-color: #252850;*/
    background-color: #A69270;
    color: #fff;
    font-family: 'MeineSchriftart', sans-serif;
}

/* === NAVIGATIONSLEISTE === */
.header-nav {
    width: 100%;
    height: 60px;
    background-color: #968260;
    position: relative;
    font-size: 1rem;
}

.header-nav > img {
    height: 50px;
    width: auto;    
    position: absolute;
    left: 1.5rem;
    top: 5px;      
}

.header-nav > ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: .9rem;
    right: 1.5rem;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* 
.header-nav > ul > li {
    display: inline-block;
    padding: 0 .5rem; 
} 
*/

.header-nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 3px;
}

.header-nav a:hover {
    color: #543e29;
}

.header-nav a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: #543e29;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
} 
.header-nav a:hover::after{
    width: 100%;
}
#toggle_button{
    display: none;
}
label[for="toggle_button"]{
    display: none;
}

/* === HEADER === */
.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.container #greeting {
    /*color: #56C7F7;*/
    color: #543e29;
    margin-bottom: .5rem;
    font-size: 3rem;
}

.col-2 p {
    margin-top: 0;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: .8rem;
    box-sizing: border-box;
}

.col-2 img {
    width: 100%;
    height: auto;
    max-width: 175px; /* Dies stellt sicher, dass das Bild nicht breiter als die col-2 wird */
    display: block; /* Dies stellt sicher, dass das Bild richtig angezeigt wird */
}

.col-1 { width: 16.667%;}
.col-2 { width: 33.333%;}
.col-3 { width: 50%;    }
.col-6 { width: 100%;   }

/* === ABOUT ME === */

.about-me .container {
    margin-top: 4rem;
}

h3 {
    color: #FFF;
    margin:  0 0 1rem .8rem;
}

.about-me .row {
    background-color: #A69270;
}

/* === SKILLS === */

.skills {
    width: 95%;
    margin: 1rem auto;
}

/* 
=== WICHTIGE BREAKPOINTS ===

480px iPhone Querformat
768px iPad Hochformat
1024px iPad Querformat

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

*/

@media (max-width: 768px) {

    .header-nav{
        position: relative;
    }
    .header-nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: #968260;
        padding: 15px;
        border-radius: 0 0 0 25px;
    }
    label[for="toggle_button"]{
        display: block;
        position: absolute;
        top: .45rem;
        right: 1.5rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    #toggle_button:checked ~ ul{
        display: flex;
    }

    .col-1 { width: 100%;}
    .col-2 { width: 100%;}
    .col-3 { width: 100%;}

}